<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.onion.base.board.BoardVO" alias="BoardVO"/>
  		<typeAlias type="com.onion.base.board.BoardFileVO" alias="BoardFileVO"/>
  		<typeAlias type="com.onion.base.board.notice.NoticeVO" alias="NoticeVO"/>
  		<typeAlias type="com.onion.base.board.qna.QnaVO" alias="QnaVO"/>
  		
  		
  		<typeAlias type="com.onion.base.member.MemberVO" alias="MemberVO"/>
  		<typeAlias type="com.onion.base.member.RoleVO" alias="RoleVO"/>
  		<typeAlias type="com.onion.base.member.MemberRoleVO" alias="MemberRoleVO"/>
  		
  		
  		
  		<typeAlias type="com.onion.base.util.Pager" alias="Pager"/>
  	</typeAliases>
  </configuration>