<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.onion.base.board.notice.NoticeDAO">
	
	<sql id="search">
		<where>
			<if test="kind == 'title'">
				TITLE LIKE CONCAT('%', #{search}, '%') 
			</if>
			<if test="kind == 'contents'">
				CONTENTS LIKE CONCAT('%', #{search}, '%')
			</if>
			<if test="kind == 'writer'">
				WRITER LIKE CONCAT('%', #{search}, '%')
			</if>
		</where>
	</sql>

 	<insert id="setInsert" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="num">
 		INSERT INTO NOTICE (NUM, WRITER, TITLE, CONTENTS, REGDATE, HIT)
 		VALUES (#{num}, #{writer}, #{title}, #{contents}, now(), 0)
 	</insert>

 	
 	<update id="setUpdate" parameterType="BoardVO">
 		UPDATE NOTICE SET TITLE = #{title}, CONTENTS = #{contents}
 		WHERE NUM = #{num}
 	</update>
 	
 	<delete id="setDelete" parameterType="BoardVO">
 		DELETE FROM NOTICE WHERE NUM = #{num}
 	</delete>
 	
 	<select id="getList" resultType="NoticeVO" parameterType="Pager">
 		SELECT * FROM NOTICE
 		<include refid="search"></include>
 		ORDER BY NUM DESC
 		LIMIT #{startRow}, #{perPage}
 	</select>
 	
 	<select id="getDetail" parameterType="BoardVO" resultMap="getDetailResult">
 		SELECT * FROM NOTICE N
 		LEFT JOIN
 		NOTICEFILES NF
 		USING(NUM)
 		WHERE NUM = #{num}
 	</select>
 	
 	<resultMap type="NoticeVO" id="getDetailResult">
 		<id column="NUM" property="num"/>
 		<result column="WRITER" property="writer"/>
 		<result column="TITLE" property="title"/>
 		<result column="CONTENTS" property="contents"/>
 		<result column="REGDATE" property="regDate"/>
 		<result column="HIT" property="hit"/>
 		<collection property="boardFileVOs" javaType="List" ofType="BoardFileVO">
 			<id column="FILENUM" property="fileNum"/>
 			<result column="FILENAME" property="fileName"/>
 			<result column="ORINAME" property="oriName"/>
 		</collection>
 	</resultMap>
 	
 	<select id="getFileDetail" parameterType="BoardFileVO" resultType="BoardFileVO">
 		SELECT * FROM NOTICEFILES WHERE FILENUM = #{fileNum}
 	</select>
 	
 	<select id="getTotalCount" parameterType="Pager" resultType="Long">
 		SELECT COUNT(NUM) FROM NOTICE
 		<include refid="search"></include>
 	</select>
 	

 	
 	<insert id="setFileInsert" parameterType="BoardFileVO">
 		INSERT INTO NOTICEFILES (NUM, FILENAME, ORINAME)
 		VALUES (#{num}, #{fileName}, #{oriName})
 	</insert>
 	
 	<delete id="setFileListDelete" parameterType="BoardVO">
 		DELETE FROM NOTICEFILES WHERE NUM = #{num}
 	</delete>
 	
 	<!-- <insert id="setBirthUserInsert">
 		INSERT INTO NOTICE (WRITER, TITLE, CONTENTS, REGDATE, HIT) 
		VALUES ('qwdfd1', '생일을 축하합니다.', CONCAT((SELECT GROUP_CONCAT(NAME SEPARATOR '님, ') 
									FROM MEMBER
									WHERE DATE_FORMAT(BIRTH, '%m-%d') = DATE_FORMAT(NOW(), '%m-%d')) 
									, '님의 생일을 축하합니다.'), NOW(), 0)
 	</insert> -->
 	
 </mapper>